@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;600;800 &display=swap");

*,
*::before,
*::after {
    font-family: "poppins", sans-serif;
    text-decoration: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --color-primary: #00b7ffe0;
    --color-secondary: #00c0e2;
    --color-btn: #ffa600;
    --color-headings: #00039ee0;
    --color-body: #24baff;
}

body {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background: #19a7ce;
    height: 200rem;
}

/* Navbar */
/* Remove border from toggler */
.navbar-toggler {
    border: 0 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 0 !important;
}

/* Lines of the Toggler */
.toggler-icon {
    width: 30px;
    height: 3px;
    background-color: #e74c3c;
    display: block;
    transition: all 0.2s;
}

/* Adds Space between the lines */
.middle-bar {
    margin: 5px auto;
}

/* State when navbar is opened (START) */
.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}
/* State when navbar is opened (END) */

/* State when navbar is collapsed (START) */
.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}
/* State when navbar is collapsed (END) */

/* Color of Toggler when collapsed */
.navbar-toggler.collapsed .toggler-icon {
    background-color: #777777;
}

.navbar {
    position: fixed;
    top: 1;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    padding: 1rem 4rem;

}

.nav-item {
    font-size: 1rem;
}

/* Hero Session */
.hero {
    /* position: absolute; */
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('/images/bg_image_1.jpg');
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: fit-content;
    padding: 10rem 4rem;
    color: #fff;
}

.hero-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.hero-content {
    width: 60%;
}

.hero-content h1 {
    font-weight: bold;
}

.hero-paragraph {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.hero-btn {
    text-transform: uppercase;
    color: black;
    background: #fff;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

.icons {
    color: orange;
    font-size: 20px;
}

.hero-slider {
    width: 40%;
}

.hero-container img {
    width: 3rem;
}

@media(max-width: 800px) {
    .hero {
        padding: 10rem 0;
    }

    .hero-container {
        flex-direction: column;
    }

    .hero {
        padding: 2rem;
    }

    .hero-content {
        width: 100%;
    }

    .hero-slider {
        display: none;
    }

    .hero-container {
        width: 100%;
        padding: 0;
    }
}

.callout {
    background: white;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 4rem;
}

.callout-container {
    width: 80%;
    margin-top: -10rem;
    background-color: orange;
    padding: 2rem;
}

@media(max-width: 800px) {
    .callout {
        padding: 2rem;
    }

    .callout-container {
        width: 80%;
        margin-top: -9rem;
        background-color: orange;
        padding: 2rem;
    }


}
